{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_8efb4abe-be92-4df0-a239-a5770735bc82 = section.settings['replo_text_8efb4abe-be92-4df0-a239-a5770735bc82'] -%}
    {%- capture default_replo_text_8efb4abe-be92-4df0-a239-a5770735bc82 -%}<p>Home</p>{%- endcapture -%}
    {%- assign replo_text_8efb4abe-be92-4df0-a239-a5770735bc82 = replo_text_8efb4abe-be92-4df0-a239-a5770735bc82 | default: default_replo_text_8efb4abe-be92-4df0-a239-a5770735bc82 -%}
    "replo_text_8efb4abe-be92-4df0-a239-a5770735bc82": {{ replo_text_8efb4abe-be92-4df0-a239-a5770735bc82 | json }}, {%- assign replo_text_26184ffb-111a-43b5-9c6a-2373926c207b = section.settings['replo_text_26184ffb-111a-43b5-9c6a-2373926c207b'] -%}
    {%- capture default_replo_text_26184ffb-111a-43b5-9c6a-2373926c207b -%}<p>About</p>{%- endcapture -%}
    {%- assign replo_text_26184ffb-111a-43b5-9c6a-2373926c207b = replo_text_26184ffb-111a-43b5-9c6a-2373926c207b | default: default_replo_text_26184ffb-111a-43b5-9c6a-2373926c207b -%}
    "replo_text_26184ffb-111a-43b5-9c6a-2373926c207b": {{ replo_text_26184ffb-111a-43b5-9c6a-2373926c207b | json }}, {%- assign replo_text_cc44474d-aed9-4e98-aeb6-a0b438dd8126 = section.settings['replo_text_cc44474d-aed9-4e98-aeb6-a0b438dd8126'] -%}
    {%- capture default_replo_text_cc44474d-aed9-4e98-aeb6-a0b438dd8126 -%}<p>Coffee</p>{%- endcapture -%}
    {%- assign replo_text_cc44474d-aed9-4e98-aeb6-a0b438dd8126 = replo_text_cc44474d-aed9-4e98-aeb6-a0b438dd8126 | default: default_replo_text_cc44474d-aed9-4e98-aeb6-a0b438dd8126 -%}
    "replo_text_cc44474d-aed9-4e98-aeb6-a0b438dd8126": {{ replo_text_cc44474d-aed9-4e98-aeb6-a0b438dd8126 | json }}, {%- assign replo_text_941a36c2-1ad5-4ae2-abab-f13271f5445d = section.settings['replo_text_941a36c2-1ad5-4ae2-abab-f13271f5445d'] -%}
    {%- capture default_replo_text_941a36c2-1ad5-4ae2-abab-f13271f5445d -%}<p>Apparel</p>{%- endcapture -%}
    {%- assign replo_text_941a36c2-1ad5-4ae2-abab-f13271f5445d = replo_text_941a36c2-1ad5-4ae2-abab-f13271f5445d | default: default_replo_text_941a36c2-1ad5-4ae2-abab-f13271f5445d -%}
    "replo_text_941a36c2-1ad5-4ae2-abab-f13271f5445d": {{ replo_text_941a36c2-1ad5-4ae2-abab-f13271f5445d | json }}, {%- assign replo_text_e1dc17b2-2505-485b-9289-14ed4208a0f0 = section.settings['replo_text_e1dc17b2-2505-485b-9289-14ed4208a0f0'] -%}
    {%- capture default_replo_text_e1dc17b2-2505-485b-9289-14ed4208a0f0 -%}<p>About us</p>{%- endcapture -%}
    {%- assign replo_text_e1dc17b2-2505-485b-9289-14ed4208a0f0 = replo_text_e1dc17b2-2505-485b-9289-14ed4208a0f0 | default: default_replo_text_e1dc17b2-2505-485b-9289-14ed4208a0f0 -%}
    "replo_text_e1dc17b2-2505-485b-9289-14ed4208a0f0": {{ replo_text_e1dc17b2-2505-485b-9289-14ed4208a0f0 | json }}, {%- assign replo_text_220dcb36-ccec-4892-8241-af977e4a1986 = section.settings['replo_text_220dcb36-ccec-4892-8241-af977e4a1986'] -%}
    {%- capture default_replo_text_220dcb36-ccec-4892-8241-af977e4a1986 -%}<p>Contact</p>{%- endcapture -%}
    {%- assign replo_text_220dcb36-ccec-4892-8241-af977e4a1986 = replo_text_220dcb36-ccec-4892-8241-af977e4a1986 | default: default_replo_text_220dcb36-ccec-4892-8241-af977e4a1986 -%}
    "replo_text_220dcb36-ccec-4892-8241-af977e4a1986": {{ replo_text_220dcb36-ccec-4892-8241-af977e4a1986 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}